<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Coconala Embed</title>
  </head>
  <body>
    <a class="coconala-widget" href="https://coconala.com/services/3560848" data-service_id="3560848" data-width="468" data-comment="0" data-invite="0" data-user_id="5156099">ドローンでご自宅や身近な建物等を記念空撮します ★あなたの思い出を空から応援します！</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://coconala.com/js/coconala_widget.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','coconala-wjs');
    </script>
 <a class="coconala-widget" href="https://coconala.com/services/3546863" data-service_id="3546863" data-width="468" data-comment="0" data-invite="0" data-user_id="5156099">IT業務全般、DXに関する相談に乗ります ITで業務効率化し、セキュリティも向上しましょう</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://coconala.com/js/coconala_widget.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','coconala-wjs');</script>
 <a class="coconala-widget" href="https://coconala.com/services/3635706" data-service_id="3635706" data-width="468" data-comment="0" data-invite="0" data-user_id="5156099">小規模オフィスのLAN環境整備を支援します VPNやNAS活用、初歩的なことでも気軽に聞けます！</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://coconala.com/js/coconala_widget.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','coconala-wjs');</script>
  </body>
</html>
